{% extends 'form_div_layout.html.twig' %}

{%- block form_row -%}
	<div class="{{ form.vars.errors.count() ? 'form-error' : '' }}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
	</div>
{%- endblock form_row -%}

{% block form_errors -%}
	{% if errors|length > 0 -%}
		<div class="error-messages">
            {%- for error in errors -%}
				<div class="error-message">{{ error.message }}</div>
            {%- endfor -%}
		</div>
	{%- endif %}
{%- endblock form_errors %}