{% extends 'AppBundle:front:layout.html.twig' %}

{% form_theme form 'AppBundle:forms:defaultFormTheme.html.twig' %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/register.css') }}" />
{% endblock %}

{% block content_body %}

    <section class="slice color1 top-panel" id="contactSlice" >
        <div class="container">
            <div class="row mb40">
                <div class="span12">
                    <h1>Alors, on souhaite rejoindre les meilleurs ?</h1>
                </div>
                <div id="contactSlide">
                    <div class="span12">
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="span6 clearfix">
                                    {{ form_row(form.email.first) }}
                                </div>
                                <div class="span6 clearfix">
                                    {{ form_row(form.email.second) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="span6 clearfix">
                                    {{ form_row(form.plainPassword.first) }}
                                </div>
                                <div class="span6 clearfix">
                                    {{ form_row(form.plainPassword.second) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="span6 clearfix">
                                    {{ form_row(form.pseudonym) }}
                                </div>
                                <div class="span6 clearfix">
                                    <div class="{{ form.plainAvatar.vars.errors.count() ? 'form-error' : '' }}">
                                        {{- form_label(form.plainAvatar) -}}
                                        {{- form_widget(form.plainAvatar, {attr: {style: "display: none;"}}) -}}
                                        <div class="file-input">
                                            <input type="text" id="plain-avatar" disabled>
                                            <label class="btn" for="{{ form.plainAvatar.vars.id }}">Fichier</label>
                                        </div>
                                        {{- form_errors(form.plainAvatar) -}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span12">
                                    <button type="submit" class="btn">S'inscrire</button>
                                </div>
                            </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

    <script>
        $(function() {
            var $avatarInput = $('#{{ form.plainAvatar.vars.id }}');
            $avatarInput.change(function() {
                $('#plain-avatar').attr("placeholder", "Chargé et prêt à être envoyé !");
                $('#plain-avatar + .btn').text("").html('<span class="icon-ok-circle"></span>').addClass("btn-ok");
            });
        }());
    </script>

{% endblock %}